html,
body {
  background-color: #0f1315;
  height: 100%;
}

/* Mobile specific styles */
@media (max-width: 480px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
    background-color: #181a1c;
  }

  .sidebar-open {
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
    background-color: #181a1c;
  }

  .sidebar-btn {
    display: flex;
  }
}

/* Desktop specific styles */
@media (min-width: 480px) {
  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #181a1c;
  }

  .sidebar-btn {
    display: none;
  }
}

/* Login and Registration page */
.row {
  background-color: #1f2228;
}

input[type="email"],
input[type="password"] {
  background-color: #353d44;
  border: none;
  border-radius: 20px;
  color: white;
}

input[type="email"]:focus {
  background-color: #353d44;
  border: none;
  color: white;
}

input[type="password"]:focus {
  background-color: #353d44;
  border: none;
  color: white;
}

.login-button {
  border-radius: 20px;
}

.link {
  color: #3e7ef5;
  text-decoration: none;
}

/* Sidebar */
.nav-link {
  text-decoration: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #353d44;
  color: #fff;
  cursor: pointer;
}

.nav-link:hover > .hide-delete {
  display: flex;
}

.nav-link:active {
  color: #fff;
}

.tag-icon {
  color: gray;
}

.btn-hover {
  border: 1px solid #181a1c;
  border-radius: 5px;
  background-color: #181a1c;
  color: #fff;
}

.btn-hover:hover {
  cursor: pointer;
  border-color: gray;
}

.tag-input {
  background-color: #353d44;
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 0;
}

.tag-input:focus {
  background-color: #353d44;
  border: none;
  color: white;
}

/* Main content */
.main-content {
  position: relative;
  background-color: #1f2228;
  top: 0;
  bottom: 0;
}

.star-icon {
  color: gold;
}

.task-item {
  border-radius: 5px;
}

.task-item:hover {
  background-color: #353d44;
}

.hide-edit {
  display: none;
}

.hide-delete {
  display: none;
}

.hide-edit:hover {
  color: #1ac743;
  cursor: pointer;
}

.hide-delete:hover {
  color: #f75268;
  cursor: pointer;
}

.task-item:hover > .hide-delete {
  display: flex;
}
.task-item:hover > .hide-edit {
  display: flex;
}

.add-btn {
  color: #3e7ef5;
  border: 1px solid #1f2228;
  border-radius: 5px;
}

.add-btn:hover {
  background-color: #3e7ef5;
  cursor: pointer;
  border-color: #3e7ef5;
  color: #fff;
}

.show-btn {
  color: gray;
  border: 1px solid #1f2228;
  border-radius: 5px;
}

.show-btn:hover {
  cursor: pointer;
  border-color: gray;
}

/* Add task modal */

.modal-main {
  background-color: #181a1c;
}

.task-input {
  background-color: #353d44;
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 0;
}

.task-input:focus {
  background-color: #353d44;
  border: none;
  color: white;
}
