html,
body {
  background-color: #0f1315;
  height: 100%;
}

/* Login and Registration page */
.row {
  background-color: #1f2228;
}

input[type="email"],
input[type="password"] {
  background-color: #353d44;
  border: none;
  border-radius: 20px;
  color: white;
}

input[type="email"]:focus {
  background-color: #353d44;
  border: none;
  color: white;
}

input[type="password"]:focus {
  background-color: #353d44;
  border: none;
  color: white;
}

.login-button {
  border-radius: 20px;
}

.link {
  color: #3e7ef5;
  text-decoration: none;
}

/* Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #181a1c;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #353d44;
  color: #fff;
}

.nav-link:active {
  color: #fff;
}

.tag-icon {
  color: gray;
}

.btn-hover {
  border: 1px solid #181a1c;
  border-radius: 5px;
}

.btn-hover:hover {
  cursor: pointer;
  border-color: gray;
}

/* Main content */
.main-content {
  background-color: #1f2228;
}

.star-icon {
  color: gold;
}

.task-item:hover {
  cursor: pointer;
}

/* .checkmark {
  background-color: #1f2228;
} */
